<%= form_for(@computer) do |f| %>
  <% if @computer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
      <% @computer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type, '类别' %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :pc, '计算机名' %><br />
    <%= f.text_field :pc %>
  </div>
  <div class="field">
    <%= f.label :name, '名称' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number, '资产编号' %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :department, '使用部门' %><br />
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :user, '使用人' %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :city, '城市' %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :date, '生产日期' %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :product, '品牌型号规格' %><br />
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :cpu %><br />
    <%= f.text_field :cpu %>
  </div>
  <div class="field">
    <%= f.label :memory, '内存' %><br />
    <%= f.text_field :memory %>
  </div>
  <div class="field">
    <%= f.label :disk , '硬盘' %><br />
    <%= f.text_field :disk %>
  </div>
  <div class="field">
    <%= f.label :mouse, '鼠标' %><br />
    <%= f.number_field :mouse %>
  </div>
  <div class="field">
    <%= f.label :wired, '有线网卡Mac地址' %><br />
    <%= f.text_field :wired %>
  </div>
  <div class="field">
    <%= f.label :wife, '无线网卡Mac地址' %><br />
    <%= f.text_field :wife %>
  </div>
  <div class="field">
    <%= f.label :sn, 'S/N' %><br />
    <%= f.text_field :sn %>
  </div>
  <div class="field">
    <%= f.label :os, '预装操作系统' %><br />
    <%= f.text_field :os %>
  </div>
  <div class="field">
    <%= f.label :token, '令牌' %><br />
    <%= f.number_field :token %>
  </div>
  <div class="field">
    <%= f.label :other, '备注' %><br />
    <%= f.text_field :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
