<p id="notice"><%= notice %></p>

<p>
  <b>类别:</b>
  <%= @computer.leixing %>
</p>

<p>
  <b>计算机名:</b>
  <%= @computer.pc %>
</p>

<p>
  <b>名称:</b>
  <%= @computer.name %>
</p>

<p>
  <b>资产编号:</b>
  <%= @computer.number %>
</p>

<p>
  <b>使用部门:</b>
  <%= @computer.department %>
</p>

<p>
  <b>使用人:</b>
  <%= @computer.user %>
</p>

<p>
  <b>城市:</b>
  <%= @computer.city %>
</p>

<p>
  <b>生产日期:</b>
  <%= @computer.date %>
</p>

<p>
  <b>品牌型号规格:</b>
  <%= @computer.product %>
</p>

<p>
  <b>Cpu:</b>
  <%= @computer.cpu %>
</p>

<p>
  <b>内存:</b>
  <%= @computer.memory %>
</p>

<p>
  <b>硬盘:</b>
  <%= @computer.disk %>
</p>

<p>
  <b>鼠标:</b>
  <%= @computer.mouse %>
</p>

<p>
  <b>有线网卡Mac地址:</b>
  <%= @computer.wired %>
</p>

<p>
  <b>无线网卡Mac地址:</b>
  <%= @computer.wife %>
</p>

<p>
  <b>S/N:</b>
  <%= @computer.sn %>
</p>

<p>
  <b>预装操作系统:</b>
  <%= @computer.os %>
</p>

<p>
  <b>令牌:</b>
  <%= @computer.token %>
</p>

<p>
  <b>备注:</b>
  <%= @computer.other %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
