<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @computer.type %>
</p>

<p>
  <b>Pc:</b>
  <%= @computer.pc %>
</p>

<p>
  <b>Name:</b>
  <%= @computer.name %>
</p>

<p>
  <b>Number:</b>
  <%= @computer.number %>
</p>

<p>
  <b>Department:</b>
  <%= @computer.department %>
</p>

<p>
  <b>User:</b>
  <%= @computer.user %>
</p>

<p>
  <b>City:</b>
  <%= @computer.city %>
</p>

<p>
  <b>Date:</b>
  <%= @computer.date %>
</p>

<p>
  <b>Product:</b>
  <%= @computer.product %>
</p>

<p>
  <b>Cpu:</b>
  <%= @computer.cpu %>
</p>

<p>
  <b>Memory:</b>
  <%= @computer.memory %>
</p>

<p>
  <b>Disk:</b>
  <%= @computer.disk %>
</p>

<p>
  <b>Mouse:</b>
  <%= @computer.mouse %>
</p>

<p>
  <b>Wired:</b>
  <%= @computer.wired %>
</p>

<p>
  <b>Wife:</b>
  <%= @computer.wife %>
</p>

<p>
  <b>Sn:</b>
  <%= @computer.sn %>
</p>

<p>
  <b>Os:</b>
  <%= @computer.os %>
</p>

<p>
  <b>Token:</b>
  <%= @computer.token %>
</p>

<p>
  <b>Other:</b>
  <%= @computer.other %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
